@import '../../../../../assets/colors';
@import '../../../../../assets/variables';

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

.gameStatus,
.gameButton:hover{
  color: $blue
}
