@import '../../../../../assets/colors';
@import '../../../../../assets/variables';

.game {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 1rem;
}

.gameInfo {
  margin-left: 20px;
}

.gameStatus,
.gameButton:hover{
  color: $blue
}