@import 'src/scss/colors';
@import 'src/scss/fonts';

.base-layout-container {
  background-color: $wild-sand;
  border-top: 5px solid $cerulean;
  margin: 50px auto;
  max-width: 400px;
  width: 100%;
}

.base-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
  max-height: 600px;
  width: 100%;
}

.base-form-button {
  background-color: var(--bgButton, $atlantis);
  border-radius: 8px;
  color: var(--colorTextButton, $white);
  font-size: $main-button;
  height: 45px;
  margin: 10px auto;
  max-width: 350px;
  width: 100%;

  &:hover {
    background-color: var(--colorTextButton, $white);
    color: var(--bgButton, $atlantis);
  }
}

.base-form-title {
  color: $black;
  font-size: $title-form;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 30px;
  text-align: center;
}
