@import '../../../../../../../../../assets/colors';

.square {
  background: $whiteGrey;
  border: 0.3vw solid $greenBlue;
  color: $brown;
  float: left;
  font-size: 10vw;
  font-weight: bold;
  line-height: 10vw;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50%;
}

.square:focus {
  outline: none;
}
