@import '../../../../../../../../../assets/colors';

.square {
  background: $greenBlue;
  border: 1px solid $brown;
  color: $brown;
  float: left;
  font-size: 5rem;
  font-weight: bold;
  line-height: 6rem;
  height: 6rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 6rem;
}

.square:focus {
  outline: none;
}
