@import '../../../../../assets/colors';

.container {
  align-items: center;
  border: 0;
  color: $whiteGrey;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
  padding: 0.5rem; 

  &:hover {
    color: $brown;
    transform: scale(1.2);
    border: 1px solid $brown;
    border-radius: 5px;
  }
}

.link {
  margin-left: 0.5rem;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.2rem;
  
  &:hover {
    color: $brown;
  }
}

.icon {
  color: inherit;
  font-size: 2rem;
}
