$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

// Variables added
$margin-tech-one: 20px;
$margin-tech-two: 15px;
$space-before-el: 10px;
$tech-common-mar: 10px;
$tech-height: 280px;
$tech-radius: 5px;
$tech-padd-bottom: 25px;
$tech-padd-left: 10px;
$tech-padd-right: 25px;
$tech-padd-top: 15px;
$tech-width: 190px;
