$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$text-very-small: 8px;

// Variables added
$tech-common-mar: 10px;
$tech-height: 280px;
$tech-radius: 5px;
$tech-width: 190px;
