.footer-pag {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  margin-top: center;
  width: 100%;
}

.footer-title,
.footer-text {
  color: white;
}

.footer-title {
  margin-top: 20px;
  font-size: $text-big;
  text-transform: uppercase;
}

.footer-img {
  height: 50px;
  margin: 10px 0;
}

.footer-text {
  margin: 10px 15px;
  font-size: $text-small;
  align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .footer-img {
    height: 25px;
  }

  .footer-title {
    font-size: $text-small;
  }

  .footer-text {
    font-size: 8px;
    align-self: center;
    margin: 20px 0;
  }
}