@import 'variables';

.layout {
  margin: 0 5%;
}

.tech-info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 85px;

  .tech-box {
    display: flex;
    justify-content: center;
  }
}

.tech-other-box {
  border-left: 1px solid $green;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1024px) {
  .tech-info {
    grid-template-columns: 1fr;
  }

  .tech-other-box {
    grid-template-columns: 1fr;
    border-left: none;
    
    .tech-box {
      border-top: 2px solid $green;
    }
  }
}
