@import 'variables';

.layout {
  margin: 0 5%;
}

.tech-info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 85px;

  .tech-box {
    display: flex;
    justify-content: center;
  }
}

.tech-other-box {
  border-left: 1px solid $green;
  display: grid;
  grid-template-columns: 1fr 1fr;
}