.navbar {
  align-items: center;
  background-color: white;
  border-bottom: 1px $grey solid;
  display: flex;
  justify-content: space-between;
  height: $nav-height;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-img {
  height: 20px;
}

.nav-text {
  font-size: $text-big;
}

@media screen and (max-width: 1024px) {
  .nav-img {
    height: 50%;
  }

  .nav-text {
    display: none;
  }
}
