.tech-box-card {
  align-items: center;
  background-color: $green;
  border-radius: $tech-radius;
  display: flex;
  flex-direction: column;
  height: $tech-height;
  margin: $margin-tech 15px;
  padding: 15px 25px 25px 10px;
  position: relative;
  width: $tech-width;

  .card-img {
    height: $tech-logo-size;
    margin-bottom: 10px;
    width: $tech-logo-size;
  }

  .card-title {
    font-size: $text-medium;
    margin-bottom: 5px;
  }

  .card-rel,
  .card-content {
    font-size: $text-small;
    margin-bottom: 10px;
  }

  .card-content {
    text-align: center;
  }

  &::before {
    border: 1px solid $green;
    border-radius: $tech-radius;
    content : '';
    height: $tech-height;
    top: -$transition-val;
    left: -$transition-val;
    transition: all 0.5s ease-out;
    position: absolute;
    width: $tech-width;
    z-index: -1;    
  }

  &:hover::before {
    top: $transition-val;
    left: $transition-val;
  }
}
