.tech-box-card {
  align-items: center;
  background-color: $green;
  border-radius: $tech-radius;
  display: flex;
  flex-direction: column;
  height: $tech-height;
  justify-content: space-around;
  margin: $margin-tech $tech-common-mar;
  padding: 15px 25px 25px 10px;
  position: relative;
  width: $tech-width;

  &::before {
    border: 1px solid $green;
    border-radius: $tech-radius;
    content : '';
    height: $tech-height;
    position: absolute;
    width: $tech-width;
    z-index: -1;
  }
}

.card-img {
  width: $tech-logo-size;
}

.card-title {
  font-size: $text-medium;
}

.card-rel,
.card-content {
  font-size: $text-small;
  margin-bottom: $tech-common-mar;
}

.card-content {
  text-align: center;
}

