.tech-box-content {
  align-items: center;
  background-color: $green;
  border-radius: $tech-radius;
  display: flex;
  flex-direction: column;
  height: $tech-height;
  // justify-content: space-around;
  margin: $margin-tech 10px;
  padding: 15px 25px 25px 10px;
  position: relative;
  width: $tech-width;

  img {
    max-width: $tech-logo-size;
    height: $tech-logo-size;
    margin-bottom: 10px;
  }

  .title-tech {
    font-size: $text-medium;
    margin-bottom: 5px;
  }

  .title-rel,
  p {
    font-size: $text-small;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
  }

  &::before {
    border: 1px solid $green;
    border-radius: $tech-radius;
    content : '';
    height: $tech-height;
    top: -15px;
    position: absolute;
    width: $tech-width;
    z-index: -1;
  }
}
