@import '../../../../../../../assets/variables';
@import '../../../../../../../assets/colors';

.fieldContainer {
  margin-top: 1.5rem;

  &.invalid {
    .fieldInput {
      border-color: $red;
    }
    .fieldLabel {
      color: $red
    }
  }

  &.valid {
    .fieldInput {
      border-color: $blue;
    }
    .fieldLabel {
      color: $blue
    }
  }
}

.fieldError {
  color: $red;
  display: block;
  font-size: $text-small;
  transform: translateY(-1rem);
}

.fieldLabel {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  transform: translate(-4rem, -2.5rem) scale(0.7);
  transition: all 0.3s;
}

.fieldInput {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid $grey;;
  border-radius: 0.2rem;
  color: $grey;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  padding: 0.1rem .22rem;
  transition: all 0.3s;
  width: 100%;

  &:focus {
    border-color: $blue;
  }
}

.fieldInput:placeholder-shown + .fieldLabel {
  opacity: 0;
  transform: translate(0, 2rem);
  visibility: hidden;
}
