@import 'scss/_colors.scss';

.containerForm {
  background-color: $whiteGrey;
  margin: 50px auto;
  max-width: 400px;
}

.buttonForm {
  background-color: $grey;
  border-radius: 5px;
  color: $whiteGrey;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.enable {
  background-color: $greenBlue;
  cursor: pointer;
}

.disable {
  cursor: no-drop;
}

.error {
  background-color: $red;
}

.formStatus {
  color: $red;
  display: block;
  font-size: 12px;
  text-align: center;
}
