@import './assets/equalizer.scss';
@import './assets//colors';

body {
  // font: 14px "Roboto", serif;
  font-family: 'Roboto', serif;
  background-color: $whiteGrey;
}

ol, ul {
  padding-left: 30px;
}
