@import '../../../../../assets/colors';

.containerForm {
  margin: 50px auto;
  max-width: 400px;
  background-color: $white;
}

.buttonForm {
  margin-top: 20px;
  width: 100%;
  height: 25px;
  background-color: $grey;
  border-radius: 5px;
  color: $white;
}

.enable {
  background-color: $blue;
  cursor: pointer;
}

.disable {
  cursor: no-drop;
}
