$atlantis: #A6CB46;
$alto: #DDD;
$cerulean: #00ADEE;
$wild-sand: #F4F4F4;
$black: #000;
$white: #FFF;
$cod-gray: #1E1E1E;
$torch-red: #EE0034;
$pickled-bluewood: #2C3E50;
$ocean-green: #42B983;
$box-shadow-navbar: rgba(0, 0, 0, 0.1);
