@import 'scss/_colors.scss';

.navbarContainer {
  box-shadow: -18px -1px 16px #545454;
  height: 100px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $greenBlue;
  margin-bottom: 35px
}

.navbarIcon {
  background-color: inherit;
  color: $whiteGrey;
  font-size: 70px;
  animation-duration: 4s;
  animation-name: rotateIcon;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

@media screen and (max-width: 840px){
  .navbarContainer {
    align-items: start;
    color: $whiteGrey;
    flex-direction: column;
    height: 350px;
    padding-left: 30px;
  }
}
